<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/05eb422188.js"></script>
  </head>
  <body>
    <div id="chatbox">
      <div class="Block">
        <div class="botReply">
          <div class="botText">
              In late May, her youngest joined his brother at
               the centre — and had both boys remained there,
               Mrs Baker and her husband would now be forking
               out a staggering total of $262 a day before
                government subsidies.
          </div>
        </div>
      </div>

      <div class="Block">
        <div class="userInput">
          <div class="userText">
              a.
          </div>
        </div>
      </div>

      <div class="botReply">
        <div class="botText">
            In late May, her youngest joined his brother at
             the centre — and had both boys remained there,
             Mrs Baker and her husband would now be forking
             out a staggering total of $262 a day before
              government subsidies.
        </div>
        <div class="LikeOrDisLike">
          <a class = "like_btn" type="submit" herf="#">
            <i class="far fa-thumbs-up"></i>
          </a>
          <a class = "dislike_btn" type="submit" herf="#">
            <i class="far fa-thumbs-down"></i>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
