<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/05eb422188.js"></script>
  </head>
  <body>
    <h1>Chalk ChatBox Student interface draft</h1>
    <h3>For bot response we simply use <a href="https://github.com/gunthercox/ChatterBot">ChatterBot</a>
      as our bot to do simulation before we complete our backend.</h3>
      <div>
        <div class="outer_box">
          <a class = "close_click_btn" id = "close_click" href="#" >
            <i class="fas fa-window-close"></i>
          </a>

          <div id="chatbox">
            <div class="Block">
              <div class="botReply">
                <div class="botText">
                    Hi! I'm Chalk.
                </div>
              </div>
            </div>
          </div>

          <div id="userInput">
            <input id="textInput" type="text" name="msg" placeholder="Message">
            <input id="buttonInput" type="submit" value="Send">
          </div>
        </div>

          <script>
            function send_message() {
              var rawText = $("#textInput").val();
              if(rawText == ""){
                alert('Please enter your question！');
                return;
              }
              // var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
               var userHtml = '<div class="Block"><div class="userInput"><div class="userText">' + rawText + '</div></div></div>';
              $("#textInput").val("");
              $("#chatbox").append(userHtml);
              document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
              $('#chatbox').scrollTop($('#chatbox')[0].scrollHeight);
              $.get("/send_message", { msg: rawText }).done(function(data) {
                // var botHtml = '<p class="botText"><span>' + data + '</span></p>';
                var botHtml = '<div class="Block"><div class="botReply"><div class="botText">'+ data + '</div><div class="LikeOrDisLike"><a class = "like_btn" type="submit" herf="#"><i class="far fa-thumbs-up"></i></a><a class = "dislike_btn" type="submit" herf="#"><i class="far fa-thumbs-down"></i></a></div></div></div>';
                $("#chatbox").append(botHtml);
                document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
                $('#chatbox').scrollTop($('#chatbox')[0].scrollHeight);
              });
            }
            $("#textInput").keypress(function(e) {
                if(e.which == 13) {
                    send_message();
                }
            });
            $("#buttonInput").click(function() {
              send_message();
            })
          </script>
        </div>
  </body>
</html>
